albumentations
opencv-python
numpy
extcolors
Pylette
torch
torchvision
pytorch-lightning
torchmetrics
omegaconf
einops
torch-fidelity
transformers
webdataset
gradio
protobuf
wandb
kornia
sentence-transformers
taming-transformers
openai-clip
matplotlib
